<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>黄石新闻_{$result.title}</title>
        <meta name="keywords" content="{$result.keywords}">
        <meta name="description" content="{$result.description|msubstr=0,180}">
        <link href="__PUBLIC__/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />

        <css href="__PUBLIC__/css/main.css" />
        <css  href="__PUBLIC__/css/nbase_b7e2fdc.css"/>
        <css  href="__PUBLIC__/css/ndetail_main.css"/>
        <css  href="__PUBLIC__/css/ndetail_core_92bd36a.css"/>

        <js href="__PUBLIC__/js/jquery.1.10.2.min.js"/>

    </head>

<body >

        <script type="text/javascript">
            let article_id ='{$result.id}';
         </script>

<include file="Public/Tpl/head" />

        <div id="wrapper" class="detail-wrapper">

            <div id="container" class="clearfix">
                <div class="detail-main">
                    <div id="pagelet-article">
                        <div class="curpos">
                            <a href="/" target="_blank" ga_event="click_index">
                                首页
                            </a>

                            <a href="/news_politics/" target="_blank" ga_event="click_channel">
                                国内
                            </a>
                        </div>
                        <div class="article-header">
                            <h1 class="title">
                                {$result.title}
                            </h1>
                            <div class="minibar clearfix">
                                <span class="src">{$result.source}</span>
                                <span class="time">{$result.time|date='Y-m-d h:i',###}</span>
                                <span class="eye"><i class="am-icon-github am-icon-sm"></i>{$result.eye}</span>
                            </div>
                        </div>
                        <div class="article-content" >
                           {$result.content}
                        </div>
                        <div class="article-actions">
                            <div class="top-actions clearfix">
                                <ul class="tag-list">
                                    <volist name=":explode('，',$result['tag'])" id="tag">

                                        <if condition="$tag neq '' ">
                                            <li class="tag-item">
                                                <a class="tag-link" href="" target="_blank" ga_event="click_tag">
                                                    {$tag}
                                                </a>
                                            </li>
                                        </if>

                                    </volist>
                                </ul>
                                <a class="areport" target="_blank" href=""
                                ga_event="report_news">
                                    投诉
                                </a>
                            </div>
                            <div class="bottom-actions clearfix" data-node="articleAction" data-groupid="">
                                <div class="snsbox">
                                    <div class="snsbox-inner">
                                        <span>
                                            分享到：
                                        </span>
                                        <div class="snszone" data-url=""
                                        data-text="【人民日报刊文：一些人竭力要..."
                                        data-desc="" data-pic="" data-node="share">
                                            <i class="sns-btn sns-weixin" ga_event="click_share_interactive" ga_label="weixin"
                                            data-type="" title="分享到微信">
                                                <div class="qrcodeW">
                                                    <div class="qrcode">
                                                    </div>
                                                </div>
                                            </i>
                                            <i class="sns-btn sns-qzone" ga_event="click_share_interactive" ga_label="qzone"
                                            data-type="qzone" title="分享到QQ空间">
                                            </i>
                                            <i class="sns-btn sns-weibo" ga_event="click_share_interactive" ga_label="tsina"
                                            data-type="tsina" title="分享到新浪微博">
                                            </i>
                                        </div>
                                    </div>
                                </div>
                                <!--<a class="abtn abtn-like" data-node="like" href="javascript:;" ga_event="like_news">0</a>-->
                                <a class="abtn abtn-fav" data-type="repin" data-node="fav" href="javascript:;"
                                ga_event="collection_news">
                                    收藏
                                </a>
                            </div>
                        </div>
                    </div>
                    <div id="pagelet-relatednews">
                        <div class="dtag">
                            相关阅读
                        </div>
                        <ul class="relatednews" data-node="listBox">
                            {:W('AboutArticle/about')}

                        </ul>
                    </div>
                    <div class="d-union-1">
                    </div>
                    <div class="ad720" style="text-align:center;margin-bottom:20px">
                        <div class="ab1">


                        </div>
                        <div class="ab2 none">


                        </div>
                    </div>
                    <div id="pagelet-ncomment">
                        <!-- 用来实现在首页点击评论跳转至详情页评论区 -->
                        <div id="comment_area">
                        </div>
                        <div class="cheader clearfix">
                            <div class="dtag">
                                文章评论
                            </div>
                            <div class="ctotal">
                                <span class="ctotalnum" data-node="ctotalnum">
                                    {$count}
                                </span>
                                条
                            </div>
                        </div>
                        <div class="ceditzone clearfix">
                            <div class="cavatar" data-node="cavatar">
                                <img src="{$Think.session.user_info.head_portrait|default='__STATIC__/images/default_head.png'}" width="40" height="40"/>
                            </div>
                            <div class="cbody cedit" data-node="cedit">
                                <div class="ctextarea" >
                                    <textarea  name="cinput" class="cinput" maxlength="160"  placeholder="写下你的评论..."></textarea>
                                </div>
<!--<js href="__PUBLIC__/js/jquery.cookie.js"/>-->
<script type="text/javascript">
$(function(){
     let COOKIE_PREFIX="<?php echo C('COOKIE_PREFIX') ?>";

     $("textarea[name='cinput']").click(function(){
           $(this).parents('.cbody').addClass('focus');
           $(this).keyup(function(event){
                      if($(this).val()!='' && $(this).val().length>1){
                           $(this).parents('.ctextarea').siblings('.caction').children('.csubmit').addClass('active');
                       }else{

                            $(this).parents('.ctextarea').siblings('.caction').children('.csubmit').removeClass('active');
                       }
                 })
     });

               $('.csubmit').click(function(){

                        // if($.cookie(COOKIE_PREFIX+'username')==null || $.cookie(COOKIE_PREFIX+'userid')==null){
                        if($.cookie(COOKIE_PREFIX+'username')==null || "{$Think.session.user_info.username}" ===''){
                                login();
                                $('.xa-showSignup').click(function () {
                                    register_tab($(this));
                                });

                                $('.xa-user_login').click(function () {
                                    login_tab($(this));
                                });

                                $('.rl-close').click(function(){
                                   loginhide();
                                });
                                viplogin();
                                return ;

                        }
                        if($(this).hasClass('csubmit active')){
                           $.post("{:U('Home/Comment/comment')}",{
                               id:article_id,
                               content: $("textarea[name='cinput']").val(),
                               // user_id:user_id,
                               // username:$.cookie(COOKIE_PREFIX+'username')
                           },function(data){

                                 if(data.status){
                                      delete data['status'];
                                      // console.log(data);
                                    var  commenthtml='<li class="citem clearfix">\
                                <div class="cavatar">\
                                    <a href="" target="_blank">\
                                        <img src="'+data.head_portrait+'" />\
                                    </a>\
                                </div>\
                                <div class="cbody">\
                                    <div class="cuser">\
                                        <a class="cname" href="" target="_blank">\
                                            '+username+'</a>\
                                    </div>\
                                    <div class="ctxt">'+data.content+'</div>\
                                    <div class="cinfo clearfix">\
                                        <span class="ctime">\
                                            '+ new Date().format('yyyy-MM-dd hh:mm')+'</span>\
                                        <div class="c-actions">\
                                            <a class="cdigg " href="javascript:;" ga_event="click_good_comment">\
                                                <span class="digg-num">\
                                                    572\
                                                </span>\
                                                <i class="cbtn">\
                                                </i>\
                                            </a>\
                                            <a class="creply" href="javascript:;" data-node="creply" ga_event="click_reply_comment">\
                                                <i class="cbtn">\
                                                </i>\
                                            </a>\
                                        </div>\
                                    </div>\
                                </div>\
                            </li>';
                                     $('.clist').prepend(commenthtml) ;
                                     var ctotalnum = Number($('.ctotalnum').text())+1; //Number 将变量转为js内部对象 才能与其他数字相加
                                     $('.ctotalnum').text(ctotalnum);
                                 }else{
                                     layui.use(['layer', 'element'], function(){ layer.msg(data.msg);});

                                 }

                           },'json');

                        }

                      })

})

</script>

                                <div class="caction">
                                    <div class="cshare">
                                        <div class="snsbox">
                                            <div class="snsbox-inner">
                                                <span>
                                                    分享到：
                                                </span>
                                                <div class="snszone" data-node="snszone">
                                                    <i class="sns-btn sns-weibo gray" ga_event="click_share_comment" ga_label=""
                                                    data-node="sina_weibo" title="分享到新浪微博">
                                                    </i>
                                                    <i class="sns-btn sns-tqq gray" ga_event="click_share_comment" ga_label=""
                                                    data-node="qq_weibo" title="分享到腾讯微博">
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="csubmit" data-node="csubmit" >发表</div>
                                </div>
                            </div>
                        </div>

             <ul id="clist" class="clist" >

                 <volist name="comments" id="vo">
                            <li class="citem clearfix">
                                <div class="cavatar">
                                    <a href="" target="_blank">
                                        <img src="{$vo.head_portrait|default='__STATIC__/images/default_head.png'}" width="40" height="40" />
                                    </a>
                                </div>
                                <div class="cbody">
                                    <div class="cuser">
                                        <a class="cname" href="#" target="_blank">
                                            {$vo.username}
                                        </a>
                                    </div>
                                    <div class="ctxt">{$vo.content|msubstr=0,150}</div>
                                    <div class="cinfo clearfix">
                                        <span class="ctime">
                                            {$vo.created_at}
                                        </span>
                                        <div class="c-actions">
                                            <a class="cdigg " href="javascript:void(0)" data-commentid="{$vo.id}" onclick="thumbs(this);" ga_event="click_good_comment">
                                                <span class="digg-num">
                                                    {$vo.click}
                                                </span>
                                                <i class="cbtn">
                                                </i>
                                            </a>
                                            <a class="creply" href="javascript:;" data-node="creply" ga_event="click_reply_comment">
                                                <i class="cbtn">
                                                </i>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </li>
                    </volist>
                </ul>

                     <if condition="$count GT 3">
                        <a class="cloadmore show" href="javascript:ajaxmore();" >
                            点击加载更多
                        </a>
                     </if>
				    </div>
                </div>

<script type="text/javascript">
                    let page=2;

                   function ajaxmore(){

                        $.ajax({
                             url:"{:U('Home/News/ajaxmore')}",
                             type:'get',
                             data:{page:page,article_id:article_id},
                             datatype:'json',
                             beforeSend:function(){
                                // $('.cloadmore').text('正在加载!');
                                // setTimeout('alert(3)',3000);
                                $('.cloadmore').css('background','none');
                                $('.cloadmore').append('<img src="__PUBLIC__/images/loading.gif"/>');
                             },
                             success:function(data){

                                if(page++<={$pagenum} && data !==null){
                                     $.each(data,function(key,value){
                                         let head_portrait=value.head_portrait==''?'__STATIC__/images/default_head.png':value.head_portrait;
                                var  commenthtml='<li class="citem clearfix">\
                                <div class="cavatar">\
                                    <a href="" target="_blank">\
                                        <img src="'+head_portrait+'" />\
                                    </a>\
                                </div>\
                                <div class="cbody">\
                                    <div class="cuser">\
                                        <a class="cname" href="" target="_blank">\
                                            '+value.username+'</a>\
                                    </div>\
                                    <div class="ctxt">'+value.content+'</div>\
                                    <div class="cinfo clearfix">\
                                        <span class="ctime">\
                                            '+getTime(value.time)+'</span>\
                                        <div class="c-actions">\
                                            <a class="cdigg " href="javascript:void(0);" ga_event="click_good_comment" data-commentid="{$vo.id}" onclick="thumbs(this);">\
                                                <span class="digg-num">\
                                                   '+ value.click+'\
                                                </span>\
                                                <i class="cbtn">\
                                                </i>\
                                            </a>\
                                            <a class="creply" href="javascript:;" data-node="creply" ga_event="click_reply_comment">\
                                                <i class="cbtn">\
                                                </i>\
                                            </a>\
                                        </div>\
                                    </div>\
                                </div>\
                            </li>';

                                        $('.clist').append(commenthtml) ;
                                     })

                              }else{

                                  $('.cloadmore').remove() ;
                              }
                             },
                             complete:function(){
                                let shenyu={$count}-(page-1)*3;
                                if(shenyu<=0){
                                    $('.cloadmore').css({'cursor':'not-allowed','background':'#A2A2A2'});
                                    $('.cloadmore').text('没有了');
                                    $('.cloadmore').removeAttr('href') ;

                                }else{
                                    $('.cloadmore').css('background','#A2A2A2');
                                    $('.cloadmore').text('剩余'+shenyu+'条');
                                }
                             }

                        })

                   }
</script>


 <div class="detail-right">


 <div id="pagelet-iad" class="sideGap" ga_event="click_banner_newspage_right">
      <div class="ab1">
        <a style="display:none!important" id="tanx-a-mm_32479643_3494618_56104552"></a></div>
        <div class="ab2 none">
        <div id="BAIDU_SSP__wrapper_u2643447_0">
        </div>
        </div>
</div>


<div id="pagelet-hotgallery" class="sideGap" style="display: block;">
<div class="dtag">精彩图片</div>
<ul class="hotgallery_show" data-node="gallery">
<li class="gallery_item style_3">
    <!-- style_3为三张图右侧为大图 -->
    <a href="" target="_blank" ga_event="click_pictures_recommend">
        <div class="gallery-con clearfix">
        <span class="pic_number">6图</span>
        <!-- 后续记得加边框 -->
        <div class="image small">
            <img src="" alt="">
        </div>
        <div class="image middle">
            <img src="" alt="">
        </div>
        <div class="image small">
            <img src="" alt="">
        </div>
        </div>
        <div class="title">
            <div class="title_content">
                <div class="pic_name">
                    <p>她的小蛮腰：经典黑白微性感人像棚拍</p>
                </div>
            </div>
        </div>
    </a>
</li>

<li class="gallery_item style_2">
    <!-- style_2为三张图左侧为大图 -->
    <a href="/" target="_blank" ga_event="click_pictures_recommend">
        <div class="gallery-con clearfix">
        <span class="pic_number">6图</span>
        <div class="image middle">
            <img src="" alt="">
        </div>
        <div class="image small">
            <img src="" alt="">
        </div>
        <div class="image small">
            <img src="" alt="">
        </div>
        </div>
        <div class="title">
            <div class="title_content">
                <div class="pic_name">
                    <p>11万可买国产性价比超强7座商务MPV：东风CM7果然美</p>
                </div>
        </div>
    </div>
</a>
</li>

<li class="gallery_item style_3">
    <!-- style_3为三张图右侧为大图 -->
    <a href="" target="_blank" ga_event="click_pictures_recommend">
        <div class="gallery-con clearfix">
        <span class="pic_number">19图</span>
        <!-- 后续记得加边框 -->
        <div class="image small">
            <img src="/" alt="">
        </div>
        <div class="image middle">
            <img src="" alt="">
        </div>
        <div class="image small">
            <img src="" alt="">
        </div>
        </div>
        <div class="title">
            <div class="title_content">
                <div class="pic_name">
                    <p>组图：大学情侣为圆心中遗憾，毕业季回母校补拍婚纱照！</p>
                </div>
            </div>
        </div>
    </a>
</li>


<li class="gallery_item style_3">
    <!-- style_3为三张图右侧为大图 -->
    <a href="" target="_blank" ga_event="click_pictures_recommend">
        <div class="gallery-con clearfix">
        <span class="pic_number">3图</span>
        <!-- 后续记得加边框 -->
        <div class="image small">
            <img src="" alt="">
        </div>
        <div class="image middle">
            <img src="" alt="">
        </div>
        <div class="image small">
            <img src="" alt="">
        </div>
        </div>
        <div class="title">
            <div class="title_content">
                <div class="pic_name">
                    <p>浙江举行“护航G20”誓师大会</p>
                </div>
            </div>
        </div>
    </a>
</li>

</ul>
</div>

<div id="pagelet-hotvideo" class="sideGap" style="display: block;">
        <div class="hotvideo_head dtag">热门视频</div>
 </div>

</div>
 </div>

</div>

     <!---->

    <include file="Public/Tpl/footer"/>


    </body>

</html>