	<div class="extra" role="complementary">
			<div style="position: relative">
				<div class="news_adv"><a href=""><img src="__PUBLIC__/images/news_adv.jpg"/></a></div>
				<div style="bottom:0px; width: 26px; height: 16px; z-index: 12; background: url(__PUBLIC__/images/leftbottom_new.png) 100% 0% no-repeat;position:absolute"></div>
	      	</div>
	      	<style type="text/css">
				.news_adv{
				    cursor: pointer;
				    width: 300px;
				    height: 250px;
				    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='',sizingMethod='scale');
				}

			</style>
		<div id="ship4" bosszone="gjxw_xwsp">
			<div class="hd hd2">
				<h2 class="subTitle">新闻视频</h2>
			<span class="fr"><a href="" target="_blank">更多</a></span></div>
			<div class="bd bd2">
				<div class="Q-pList">
					<ul class="l28">
<li class="li_1">
<a target="_blank" href=""><img src="" alt=""></a><p class="Q-vBg"><b></b></p>
<p class="tinfo"><a target="_blank" href="" title="">习近平：实现强军目标要推动基层建设全面过硬</a></p>
</li>
<li class="li_2">
<a target="_blank" href=""><img src="" alt=""></a><p class="Q-vBg"><b></b></p>
<p class="tinfo"><a target="_blank" href="" title="">习近平：实现强军目标要推动基层建设全面过硬</a></p>
</li>
<li class="li_3">
<a target="_blank" href=""><img src="" alt=""></a><p class="Q-vBg"><b></b></p>
<p class="tinfo"><a target="_blank" href="" title="">习近平：实现强军目标要推动基层建设全面过硬</a></p>
</li>
<li class="li_4">
<a target="_blank" href=""><img src="" alt=""></a><p class="Q-vBg"><b></b></p>
<p class="tinfo"><a target="_blank" href="" title="">习近平：实现强军目标要推动基层建设全面过硬</a></p>
</li>
				</ul>
				</div>
			</div>
		</div>
		<div id="subzhuant" bosszone="gjxw_gjzt">
			<div class="hd hd2">
				<h2 class="subTitle">国际专题</h2>
			<span class="fr"><a href="tm" target="_blank">更多</a></span></div>
			<div class="bd bd2">
				<div class="Q-tpList">
				<em class="f14 l21">
				<a target="_blank" href="">习近平：实现强军目标要推动基层</a></em><div class="Q-tpWrap">
				<a target="_blank" class="pic" href=""><img src=""></a><p class="l21">习近平：实现强军目标要推动基层建设全面过硬,习近平：实现强军目标要推..
				<a target="_blank" href="">[详细]</a>
				</p>
				</div>
				<ul class="other l26 f14">
				<li><a target="_blank" href="">阿尔及利亚航空一架飞机坠毁</a></li>
				<li><a target="_blank" href="">马航客机在乌俄边境坠毁</a></li>
				<li><a target="_blank" href="">习近平出访拉美四国并出席金砖峰会</a></li>
				<li><a target="_blank" href="">2014年亚信第四次峰会</a></li>
				</ul>
				</div>

			</div>
		</div>
		

		<div id="paih" bosszone="gjxw_rdph">
			<div class="hd hd2">
				<h2 class="subTitle">热度排行</h2>
			</div>			<div class="bd bd2">
				<ol class="current">
				<volist name='hot' id='vo' offset='0' key='k' length='10' empty='没有数据'>	
					<li>
						<span class="topRank">{$k}</span>
						<a target="_blank" href="{:U('/H_N_d/'.$vo['id'])}">{$vo.title|msubstr=0,18}</a>
					</li>
                </volist> 
				</ol>
			</div>
		</div>


</div>