        <script type="text/javascript">
         let user_login_url="{:U('/Member/Login/login')}",user_register_url="{:U('/Member/Login/register')}",curenturl='__SELF__';
       </script>
       <css rel="stylesheet" href="__STATIC__/layui/css/layui.css"/>
       <js rel="stylesheet" href="__STATIC__/layui/layui.js"/>
       <js href="__JS__/jquery.cookie.js"/>
       <js href="__JS__/vip_userlogin.js"/>
       <css href="__CSS__/nbase_b7e2fdc.css" />

     <!--顶部悬浮导航-->
     <div class="top_xuanfu">

          <div class="top_nav">
              <div class="top_tianqi">
                  <span class="date">今天是：</span>
                  <span class="weather">

                   <!--<iframe width="340" scrolling="no" height="40" frameborder="0" allowtransparency="true" src="http://i.tianqi.com/index.php?c=code&id=1&icon=1&wind=0&num=2"></iframe>-->

                  </span>
              </div>
              <div class="top_login">
                <span class="login">
                   <if condition="session('user_info') neq null">
                      <i style="">
                      <img src="{$Think.session.user_info.head_portrait|default='__STATIC__/images/default_head.png'}" width="40" height="40"/></i>
                      <!--<b><a href="" >{$Think.cookie.username}</a></b>-->
                      <b><a href="" >{$Think.session.user_info.username}</a></b>
                      <div class="user_center">
                          <ul>
                              <li><a href="{:U('/Member/User/userinfo')}">个人中心</a></li>
                              <li><a href="javascript:void(0)" class="outlogin">退出</a></li>
                          </ul>
                      </div>
                    <else/>
                      <a href="javascript:void(0)" class="userlogin"> 登录</a> / <a href="javascript:void(0)"> 注册</a>
                  </if>

                  </span>

          <span class="msn"> <a href=""> <img src="__IMAGES__/sina.png" width="16" height="16" alt="" title="关注新浪微博"></a>  <a href=""> <img src="__IMAGES__/blog.png" width="16" height="16" alt="" title="关注腾讯微博"></a> <a href=""> <img src="__IMAGES__/weixin.png" width="16" height="16" alt="" title="关注官方微信"></a></span>
          <span class="tell"><img src="__IMAGES__/contact.png" width="16" height="16" alt=""> <b>邮箱：1521910992@qq.com</b></span>
              </div>
          </div>

    </div>


    <!--第二层菜单nav导航-->

    <div class="menu">
          <div class="nav_body">
              <div class="logo"><a href="/"><img src="__IMAGES__/logo.png" width="190" height="71" alt=""></a></div>
              <div class="nav">
                   <ul>
                       {:W('Navigate/navMenu')}
                   </ul>

              </div>
          </div>
    </div>

