.btn--normal, .btn--sm, .btn--md, .btn--lg {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    box-sizing: content-box;
    user-select: none;
    background: none!important;
    word-wrap: normal;
    white-space: nowrap;
    outline: 0;
    border: 0!important;
    line-height: 0;
    font-size: 0;
    padding: 0;
    display: inline-table;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    z-index: 0;
    zoom: 1;
}
btn--lg .btn-inner {
    letter-spacing: 1px;
    text-indent: 2px;
    height: 46px;
    font-size: 18px;
    border-radius: 46px;
    padding: 0 46px;
}

.btn-inner {
    vertical-align: middle;
    display: table-cell;
    border: 0!important;
    text-align: center;
    font-family: "Microsoft YaHei";
    line-height: normal;
    font-size: 12px;
    overflow: hidden;
}
.code-triangle {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent
}

.close-font {
    font-family: tahoma !important;
    color: #f04141 !important;
    line-height: 16px;
    font-size: 20px;
    font-weight: 400;
    vertical-align: -1px
}

.cart-head .check-col {
    width: 175px
}

.prods-info-table td:last-child {
    padding-right: 30px;
    text-align: right
}

.checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/prod-detail-icon_41ff7d3.png) no-repeat -10px -237px;
    margin: 0 10px 2px 0
}

.checkbox.checked {
    background-position: -10px -205px
}

.checkbox.invalid, .checkbox.disabled {
    background-position: -10px -237px;
    opacity: .2;
    _filter: Alpha(opacity=20)
}

.J_viewCheckAll a {
    cursor: pointer;
    color: #333
}

.J_viewCheckAll a:hover {
    color: #ff3029
}

.item-checkbox {
    display: none
}

.number-box {
    display: inline-block;
    font-size: 0;
    vertical-align: top;
    margin-bottom: 2px
}

.number-box a:hover {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .05);
    color: #333
}

.number-box a:active {
    background: #f7f7f7
}

.number-box a.disabled, .number-box a.disabled:hover {
    color: #bbb;
    border-color: #ccc;
    cursor: not-allowed;
    box-shadow: none;
    background: transparent
}

.prod-list-wrap .prod-num {
    width: 32px;
    height: 18px;
    line-height: 18px;
    padding: 6px 2px;
    font-size: 12px;
    text-align: center;
    border: 0;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    border-radius: 0;
    vertical-align: middle
}

.prod-list-wrap .reduce-num, .prod-list-wrap .add-num {
    display: inline-block;
    height: 18px;
    width: 30px;
    text-align: center;
    font-size: 18px;
    line-height: 18px;
    padding: 6px 0;
    color: #666;
    vertical-align: middle;
    border: 1px solid #bbb
}

.prod-list-wrap .reduce-num {
    border-radius: 2px 0 0 2px
}

.prod-list-wrap .add-num {
    border-radius: 0 2px 2px 0
}

.prod-list-wrap .invalid .reduce-num, .prod-list-wrap .invalid .add-num, .prod-list-wrap .invalid .prod-num, .prod-list-wrap .number-box .invalid, .prod-list-wrap .number-box .disabled {
    color: #dedede
}

.attach-line .txt-left .close-font {
    position: relative;
    left: -18px;
    z-index: 0;
    cursor: pointer
}

.prod-line .help-line {
    display: inline-block;
    color: red;
    white-space: nowrap
}

.no-result {
    padding: 60px 0 150px;
    text-align: center
}

.no-result p.comment {
    font-size: 14px;
    margin-top: 50px;
    line-height: 30px;
    color: #666
}

.no-result p.comment a {
    color: #008ddc
}

.goods-col {
    text-align: left;
    width: 250px;
    color: #686868;
    font-size: 14px;
    line-height: 1.4
}

.goods-col .attach-line {
    position: relative;
    top: 10px;
    z-index: 2
}

.attach-line .goods-col {
    width: 347px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.attach-line .service-popup-hd {
    float: left;
    display: inline-block;
    overflow: visible;
    cursor: pointer;
    color: #333;
    padding: 5px 0 0;
    zoom: 1;
    cursor: pointer
}

.service-popup-hd:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.service-popup-hd label {
    cursor: pointer
}

.service-popup-hd label:hover {
    color: #ff3029
}

.attach-line .icon-triangle {
    display: inline-block;
    position: relative;
    left: 6px;
    top: -2px;
    color: #333
}

.service-popup {
    display: none;
    position: absolute;
    left: -7px;
    top: 38px;
    width: 370px;
    border: 1px solid #d3d3d3;
    box-shadow: 0 0 10px #d3d3d3;
    background-color: #fff;
    z-index: 9
}

.services-items {
    margin-top: 10px;
    margin-left: 5px
}

.services-items li {
    position: relative;
    float: left;
    width: 252px;
    padding: 0 10px;
    margin-right: 15px;
    margin-bottom: 10px;
    height: 30px;
    overflow: hidden;
    line-height: 30px;
    font-size: 13px;
    color: #000;
    cursor: pointer;
    border: 1px solid #dedede
}

.service-popup .result-tip {
    font-size: 12px;
    line-height: 20px;
    padding-left: 5px
}

.services-items li.on {
    border-color: #008cd7
}

.services-items .broken .icon, .services-items .delay .icon {
    display: inline-block;
    width: 17px;
    height: 25px;
    vertical-align: middle;
    margin-right: 5px;
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/icon-service_aacf750.png) no-repeat
}

.services-items .delay .icon {
    background-position: 0 -29px
}

.services-items li.detail {
    padding: 0;
    width: auto;
    margin-right: 0;
    margin-bottom: 10px;
    border-color: #fff;
    clear: right
}

.services-items li.detail a {
    color: #999
}

.services-items .item-price {
    margin-left: 5px
}

.service-popup .btns {
    padding: 10px 0 25px;
    text-align: center
}

.service-popup .btns .btn-inner {
    height: 28px;
    width: 96px
}

.service-popup .btn-cancel {
    border-radius: 20px;
    margin-left: 20px;
    width: 120px;
    height: 32px;
    line-height: normal;
    display: inline-block;
    padding: 0 12px;
    border: 1px solid #ddd;
    background: #fff;
    color: #787878;
    position: relative;
    top: 1px
}

.service-popup .btn-cancel:hover {
    color: #a6a6a6
}

.price-list {
    margin-top: 5px;
    margin-bottom: 5px
}

.price-list li {
    text-align: right;
    font-size: 14px;
    padding: 5px 0
}

.price-list .price {
    display: inline-block;
    padding-right: 25px
}

.discount-price .price, .real-price .price, .real-price em {
    color: #f04141
}

.option-box {
    position: relative;
    height: 80px;
    padding-left: 12px;
    padding-right: 25px;
    background-color: #f9f9f9
}

.option-operation li {
    float: left;
    margin-right: 30px;
    height: 98px;
    line-height: 98px
}

.option-operation li a {
    font-size: 16px;
    color: #333
}

.option-operation li a:hover {
    color: #ff3029
}

.option-operation .checkbox {
    margin-bottom: 2px
}

.cart-toolbar-wrap {
    margin: 19px 0 40px
}

.cart-toolbar-wrap .wrapper {
    background: #fff
}

.cart-toolbar-wrap, .fixed-bottom-bar {
    width: 100%;
    z-index: 1;
    zoom: 1;
    height: 98px
}

.fixed-bottom-bar:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.cart-toolbar-inner {
    padding: 0 26px
}

.fixed-bottom {
    background: #fff;
    border-top: 1px solid #f0f0f0 \9;
    box-shadow: 0 -1px 8px rgba(0, 1, 1, .08);
    z-index: 5;
    position: fixed;
    margin: 0;
    bottom: 0
}

.cart-toolbar-right {
    float: right;
    text-align: left
}

.cart-toolbar-table {
    vertical-align: middle;
    text-align: right
}

.cart-toolbar-right .btn-area {
    padding: 0px 0 0 20px
}

.cart-btn-submit {
    float: right;
    margin-bottom: 13px;
}
.btn-inner {
    vertical-align: middle;
    display: table-cell;
    border: 0!important;
    text-align: center;
    line-height: normal;
    font-size: 12px;
    overflow: hidden;
}
.btn--lg .btn-inner {
    letter-spacing: 1px;
    text-indent: 2px;
    height: 46px;
    font-size: 18px;
    border-radius: 46px;
    padding: 0 46px;
}
.cart-btn-submit .btn-inner {
    background-color: #f51200;
    border: 0px;
    color: #fff;
    padding: 0;
    width: 160px;
    font-style: normal;

}

.cart-btn-submit:hover .btn-inner {
    background-color: #ff3029;
    font-style: normal;
}

.cart-toolbar-right .sum-area {
    padding: 20px 0 0;
    float: left;
}

.cart-toolbar-right .sum-area p {
    line-height: 28px;
    font-size: 14px;
    white-space: nowrap;
    width: 558px;
    text-overflow: ellipsis;
    overflow: hidden
}

.sum-area-infoI {
    color: #333
}

.sum-area-infoI b {
    color: #f51200;
    font-style: normal;
}

.sum-area-infoI .price, .sum-area-infoI .price dfn{
    font-size: 33px;
    font-style: normal;
}

.sum-area-infoII {
    color: gray
}

.service-popup .popup-title {
    font-size: 15px;
    margin: 24px 0 24px 35px;
    color: #333
}

.service-popup .popup-title a {
    font-size: 13px;
    color: #666;
    text-decoration: underline;
    margin-left: 12px
}

.service-popup .popup-title a:hover {
    color: #f81200
}

.seritem-icon {
    height: 27px;
    width: 27px;
    display: inline-block;
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/prod-detail-icon_41ff7d3.png) no-repeat;
    vertical-align: middle;
    margin-right: 5px
}

.seritem-icon-sui .service-item-hd .seritem-icon {
    background-position: -8px -309px
}

.seritem-icon-yan .service-item-hd .seritem-icon {
    background-position: -7px -351px
}

.child-list .seritem-icon {
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/prod-service-icon_dd62e31.png) no-repeat -1px -107px
}

.child-list .on .seritem-icon {
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/prod-service-icon_dd62e31.png) no-repeat -1px -131px
}

.cart-service-tags {
    width: 268px;
    font-size: 13px;
    margin: 0 auto
}

.cart-service-tags li {
    overflow: hidden;
    position: relative;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    margin-bottom: 15px
}

.service-item-hd {
    height: 40px;
    text-align: left;
    padding: 0 15px;
    overflow: hidden
}

.service-item-hd label {
    display: inline-block;
    width: 200px;
    padding-right: 5px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    cursor: pointer;
    float: left
}

.cart-service-tags-item:hover {
    border-color: #999
}

.cart-service-tags-item.on, .cart-service-tags-item.on:hover {
    border-color: #333
}

.cart-service-tags-item.on:hover .child-list {
    border-color: #333
}

.cart-service-tags-item.on:hover .service-item-hd {
    border-bottom: 1px solid #333
}

.cart-service-tags-item:hover .service-item-hd {
    border-bottom: 1px solid #e5e5e5
}

.service-item-single:hover .service-item-hd {
    border: 0 !important
}

.cart-service-tags .cart-service-tags-item:hover {
    border-radius: 3px 3px 0 0;
    overflow: visible
}

.service-item-single:hover {
    border-radius: 3px !important
}

.cart-service-tags-item .down {
    display: inline-block;
    background: url(https://shopstatic.vivo.com.cn/vivoshop/web/dist/img/prod/arrow-down-small_9f11e0f.png) center center no-repeat;
    height: 8px;
    width: 13px;
    vertical-align: middle;
    position: relative;
    left: 0;
    top: 18px;
    float: right;
    transform-origin: 50% 48%;
    -webkit-transform-origin: 50% 50%
}

.cart-service-tags-item:hover .down {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    cursor: default
}

.cart-service-tags-item:hover .child-list {
    display: block
}

.cart-service-tags-item:hover .prod-param-checked {
    visibility: hidden
}

.child-list {
    display: none;
    position: absolute;
    z-index: 3;
    left: -1px;
    right: 0;
    top: 41px;
    background: #fff;
    border: 1px solid #999;
    border-top: 0;
    width: 100%;
    border-radius: 0 0 3px 3px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .05)
}

.child-list div {
    text-align: left;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px
}

.child-list label {
    display: block;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.J_gitServiceTable {
    width: 200px
}

#side-bar .shopcart {
    background: 0 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    cursor: default;
}
#side-bar>li {
    width: 50px;
    height: 50px;
    background-color: #fff;
    cursor: pointer;
    transition: background-color .4s;
}
.iconshop {
    font-family: iconshop!important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#side-bar .iconshop:nth-child(2):before {
    top: 50px;
}

#side-bar .iconshop:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}
.icon-earpiece:before {
    content: "\e608";
}
#side-bar .shopcart .prodnum {
    position: relative;
    z-index: 3;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin: 9px 0 0 26px;
    padding: 0 2px;
    min-width: 18px;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    border-radius: 9px / 50%;
    background-color: #f51919;
    visibility: hidden;
}
#side-bar .iconshop:before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
}

.icon-cart-fine:before {
    content: "\e60b";
}
