body, dd, dl, form, ol, p, ul {
    margin: 0
}

ol, ul {
    padding: 0;
    list-style: none
}

body, html {
    color: #333
}

body, button, input, select, textarea {
    font: 12px/1.6 tahoma, arial, sans-serif
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    margin: 0
}

button, input, select, textarea {
    font-size: 100%
}

a {
    text-decoration: none;
    color: #333
}

a img {
    border: 0;
    vertical-align: middle
}

input, textarea {
    margin: 0;
    padding: 0;
    outline: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.r3 {
    border-radius: 3px
}

.r5, .r10 {
    border-radius: 5px
}

.fl {
    float: left
}

.fl, .fr {
    _display: inline
}

.fr {
    float: right
}

.mt0 {
    margin-top: 0 !important
}

.mt5 {
    margin-top: 5px !important
}

.mt10 {
    margin-top: 10px !important
}

.mt15 {
    margin-top: 15px !important
}

.mt20 {
    margin-top: 20px !important
}

.mt25 {
    margin-top: 25px !important
}

.mt30 {
    margin-top: 30px !important
}

.mt35 {
    margin-top: 35px !important
}

.mt40 {
    margin-top: 40px !important
}

.mr0 {
    margin-right: 0 !important
}

.mr5 {
    margin-right: 5px !important
}

.mr10 {
    margin-right: 10px !important
}

.mr15 {
    margin-right: 15px !important
}

.mr20 {
    margin-right: 20px !important
}

.mr25 {
    margin-right: 25px !important
}

.mr30 {
    margin-right: 30px !important
}

.mr35 {
    margin-right: 35px !important
}

.mr40 {
    margin-right: 40px !important
}

.mb0 {
    margin-bottom: 0 !important
}

.mb5 {
    margin-bottom: 5px !important
}

.mb10 {
    margin-bottom: 10px !important
}

.mb15 {
    margin-bottom: 15px !important
}

.mb20 {
    margin-bottom: 20px !important
}

.mb25 {
    margin-bottom: 25px !important
}

.mb30 {
    margin-bottom: 30px !important
}

.mb35 {
    margin-bottom: 35px !important
}

.mb40 {
    margin-bottom: 40px !important
}

.ml0 {
    margin-left: 0 !important
}

.ml5 {
    margin-left: 5px !important
}

.ml10 {
    margin-left: 10px !important
}

.ml15 {
    margin-left: 15px !important
}

.ml20 {
    margin-left: 20px !important
}

.ml25 {
    margin-left: 25px !important
}

.ml30 {
    margin-left: 30px !important
}

.ml35 {
    margin-left: 35px !important
}

.ml40 {
    margin-left: 40px !important
}

.pt0 {
    padding-top: 0 !important
}

.pt5 {
    padding-top: 5px !important
}

.pt10 {
    padding-top: 10px !important
}

.pt15 {
    padding-top: 15px !important
}

.pt20 {
    padding-top: 20px !important
}

.pt25 {
    padding-top: 25px !important
}

.pt30 {
    padding-top: 30px !important
}

.pt40 {
    padding-top: 40px !important
}

.pr0 {
    padding-right: 0 !important
}

.pr5 {
    padding-right: 5px !important
}

.pr10 {
    padding-right: 10px !important
}

.pr15 {
    padding-right: 15px !important
}

.pr20 {
    padding-right: 20px !important
}

.pr25 {
    padding-right: 25px !important
}

.pr30 {
    padding-right: 30px !important
}

.pr35 {
    padding-right: 35px !important
}

.pr40 {
    padding-right: 40px !important
}

.pb0 {
    padding-bottom: 0 !important
}

.pb5 {
    padding-bottom: 5px !important
}

.pb10 {
    padding-bottom: 10px !important
}

.pb15 {
    padding-bottom: 15px !important
}

.pb20 {
    padding-bottom: 20px !important
}

.pb25 {
    padding-bottom: 25px !important
}

.pb30 {
    padding-bottom: 30px !important
}

.pb35 {
    padding-bottom: 35px !important
}

.pb40 {
    padding-bottom: 40px !important
}

.pl0 {
    padding-left: 0 !important
}

.pl5 {
    padding-left: 5px !important
}

.pl10 {
    padding-left: 10px !important
}

.pl15 {
    padding-left: 15px !important
}

.pl20 {
    padding-left: 20px !important
}

.pl25 {
    padding-left: 25px !important
}

.pl30 {
    padding-left: 30px !important
}

.pl35 {
    padding-left: 35px !important
}

.pl40 {
    padding-left: 40px !important
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    *zoom: 1
}

.posr {
    position: relative
}

.posa {
    position: absolute
}

.display_u {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.overflow_t {
    overflow: hidden;
    text-indent: -999px
}

.media_screen_960 {
    min-width: 960px
}

.media_screen_1200 {
    min-width: 1200px
}

.media_screen_1200 .wrap {
    width: 1200px;
    margin-left: auto;
    margin-right: auto
}

.media_screen_960 .wrap {
    width: 960px;
    margin-left: auto;
    margin-right: auto
}

.light_box_fullbg {
    background-color: #000;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    zoom: 1;
    position: fixed;
    z-index: 9998;
    opacity: .3;
    /*FILTER: alpha(opacity=30);*/
    _position: absolute
}

.singleline {
    overflow: hidden;
    white-space: nowrap;
    word-break: break-all;
    text-overflow: ellipsis
}

.mu_red {
    color: #ff4f7c
}

.mu_lightgray {
    color: #999
}

a.mu_hoverline:hover {
    text-decoration: underline
}

.mu_nav_wrap {
    float: left;
    width: 240px;
    _display: inline
}

.media_screen_960 .mu_nav_wrap {
    width: 210px
}

.mu_content_wrap {
    float: right;
    width: 940px
}

.media_screen_960 .mu_content_wrap {
    width: 730px
}

.media_screen_1200 .mu_content_wrap {
    width: 940px
}

.mu_content_wrap .mu_browser_content_wrap {
    border-top: 1px solid #f1f1f1
}

.mu_nav {
    background: #fff;
    border: 1px solid #ddd;
    padding: 0 20px;
    margin-bottom: 20px
}

.mu_nav .mu_title {
    color: #333;
    font: normal 16px/56px Microsoft YaHei, sans-serif;
    background: url(https://s10.mogucdn.com/p1/150708/upload_ieytcn3gmq3tmmzugizdambqmeyde_22x240.png) 0 0 no-repeat;
    padding-left: 30px
}

.mu_nav .mu_title a {
    display: block
}

.mu_nav .account_title {
    background-position: 0 -60px
}

.mu_nav .trade_title {
    background-position: 0 0
}

.mu_nav .help_title {
    background-position: 0 -120px
}

.mu_nav .display_title {
    background-position: 0 -180px
}

.mu_nav .mu_nav_item {
    margin: 0 -20px;
    font-size: 14px;
    border-top: 1px solid #f3f3f3
}

.mu_nav .mu_nav_item > li {
    line-height: 50px;
    height: 50px;
    border-bottom: 1px solid #f3f3f3;
    position: relative
}

.mu_nav .mu_nav_item > li:last-child {
    border-bottom: none
}

.mu_nav .mu_nav_item a {
    position: relative;
    display: block;
    line-height: 50px;
    height: 50px;
    padding-left: 56px;
    color: #333;
    -webkit-transition: background .4s ease-out;
    transition: background .4s ease-out
}

.mu_nav .mu_nav_item a i {
    position: absolute;
    left: 23px;
    top: 12px
}

.mu_nav .mu_nav_item a:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 20px;
    width: 7px;
    height: 11px;
    margin-top: -5px;
    background: url(https://s10.mogucdn.com/pic/150512/10sz8d_iezwkmbvgrsdizbrgezdambqgyyde_7x22.png);
    background-position: 0 0
}

.mu_nav .mu_nav_item a:hover {
    color: #fff;
    background: #f55
}

.mu_nav .mu_nav_item a:hover:after {
    background-position: 0 -11px
}

.mu_nav li.c a {
    color: #fff;
    background: #f55;
    cursor: default
}

.mu_nav li.c a:after {
    background-position: 0 -11px
}

.mu_nav_count {
    position: relative;
    font-weight: 800;
    color: #ff5896;
    font-style: normal
}

.coupon_prompt, .coupon_prompt .btn_coupon_use, .coupon_prompt .prompt_close {
    background: url(//s7.mogujie.cn/pic/140305/o613k_kqzeuqskkrbg26dwgfjeg5sckzsew_178x141.png) no-repeat
}

.coupon_prompt_wrap {
    position: fixed;
    width: 178px;
    height: 101px;
    right: 4px;
    bottom: 30px;
    z-index: 99;
    display: none
}

.coupon_prompt {
    width: 158px;
    height: 83px;
    position: relative;
    padding: 13px 0 0 20px
}

.coupon_prompt .prompt_close {
    position: absolute;
    right: -4px;
    top: -5px;
    display: block;
    background-position: -162px -116px;
    width: 16px;
    height: 16px
}

.coupon_prompt p {
    color: #fff;
    line-height: 20px;
    margin-bottom: 5px
}

.coupon_prompt p b {
    padding: 0 3px;
    color: #89103d
}

.coupon_prompt .btn_coupon_use {
    background-position: 0 -116px;
    width: 70px;
    height: 25px
}

.coupon_prompt .btn_coupon_look {
    color: #fff;
    text-decoration: underline;
    margin: 3px 0 0 20px
}

.m-safe-lession-pop-wrap, .m-wallet-charge-pop-wrap, .m-wallet-duoshou-pop-wrap {
    position: fixed;
    _position: absolute;
    width: 185px;
    height: 104px;
    right: 0;
    bottom: 10px;
    _bottom: auto;
    _top: 0
}

.m-wallet-charge-pop-wrap {
    width: 223px;
    height: 149px;
    right: 36px;
    _top:0
}

.m-safe-lession-pop-wrap .close_btn, .m-wallet-charge-pop-wrap .close_btn {
    background: url(//s10.mogujie.cn/pic/140305/o613k_kqzeuqskkrbg26dwgfjeg5sckzsew_178x141.png) no-repeat;
    position: absolute;
    right: 32px;
    top: -6px;
    background-position: -162px -116px;
    width: 16px;
    height: 16px
}

.m-wallet-charge-pop-wrap .close_btn {
    top: 2px;
    right: 14px
}

.m-wallet-duoshou-pop-wrap .close_btn {
    position: absolute;
    top: 9px;
    right: 65px;
    width: 32px;
    height: 32px;
    /*background: url('fsd')*/
}

.md_process .md_process_wrap {
    position: relative;
    height: 32px;
    margin: 0 auto;
    padding: 20px 0 40px;
    *zoom: 1
}

.md_process .md_process_sd {
    position: absolute;
    top: 21px;
    left: 3px;
    height: 26px;
    -webkit-transition: width .5s ease-in;
    transition: width .5s ease-in
}

.md_process .md_process_i {
    position: absolute;
    top: 21px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    font: normal 14px/26px helvetica, tahoma, arial, sans-serif;
    color: #fff;
    text-align: center
}

.md_process .md_process_tip, .md_process .md_process_tip_bt {
    position: absolute;
    top: 30px;
    width: 80px;
    height: 20px;
    left: 50%;
    margin-left: -40px;
    font: normal 12px/26px helvetica, tahoma, arial, sans-serif;
    color: #999
}

.md_process .md_process_tip_bt {
    top: auto;
    bottom: -28px
}

.md_process.md_process_len3 .md_process_wrap {
    width: 346px;
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdmntegbsdonzsgezdambqmmyde_157x32.png") 0 18px repeat-x
}

.md_process.md_process_len3 .md_process_sd {
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdamtbgvstonzsgezdambqmmyde_157x26.png") 26px 0 repeat-x
}

.md_process.md_process_len3 .md_process_i1 {
    left: 3px
}

.md_process.md_process_len3 .md_process_step1_5 .md_process_sd {
    width: 93px
}

.md_process.md_process_len3 .md_process_step1 .md_process_sd {
    width: 26px
}

.md_process.md_process_len3 .md_process_step1 .md_process_i1 .md_process_tip, .md_process.md_process_len3 .md_process_step1_5 .md_process_i1 .md_process_tip {
    color: #f46
}

.md_process.md_process_len3 .md_process_i2 {
    left: 160px
}

.md_process.md_process_len3 .md_process_step2_5 .md_process_sd {
    width: 250px
}

.md_process.md_process_len3 .md_process_step2 .md_process_sd {
    width: 183px
}

.md_process.md_process_len3 .md_process_step2 .md_process_i1 .md_process_tip, .md_process.md_process_len3 .md_process_step2 .md_process_i2 .md_process_tip, .md_process.md_process_len3 .md_process_step2_5 .md_process_i1 .md_process_tip, .md_process.md_process_len3 .md_process_step2_5 .md_process_i2 .md_process_tip {
    color: #f46
}

.md_process.md_process_len3 .md_process_i3 {
    left: 317px
}

.md_process.md_process_len3 .md_process_step3 .md_process_sd, .md_process.md_process_len3 .md_process_step3_5 .md_process_sd {
    width: 340px
}

.md_process.md_process_len3 .md_process_step3 .md_process_i1 .md_process_tip, .md_process.md_process_len3 .md_process_step3 .md_process_i2 .md_process_tip, .md_process.md_process_len3 .md_process_step3 .md_process_i3 .md_process_tip, .md_process.md_process_len3 .md_process_step3_5 .md_process_i1 .md_process_tip, .md_process.md_process_len3 .md_process_step3_5 .md_process_i2 .md_process_tip, .md_process.md_process_len3 .md_process_step3_5 .md_process_i3 .md_process_tip {
    color: #f46
}

.md_process.md_process_len4 .md_process_wrap {
    width: 503px;
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdmntegbsdonzsgezdambqmmyde_157x32.png") 0 18px repeat-x
}

.md_process.md_process_len4 .md_process_sd {
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdamtbgvstonzsgezdambqmmyde_157x26.png") 26px 0 repeat-x
}

.md_process.md_process_len4 .md_process_i1 {
    left: 3px
}

.md_process.md_process_len4 .md_process_step1_5 .md_process_sd {
    width: 93px
}

.md_process.md_process_len4 .md_process_step1 .md_process_sd {
    width: 26px
}

.md_process.md_process_len4 .md_process_step1 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step1_5 .md_process_i1 .md_process_tip {
    color: #f46
}

.md_process.md_process_len4 .md_process_i2 {
    left: 160px
}

.md_process.md_process_len4 .md_process_step2_5 .md_process_sd {
    width: 250px
}

.md_process.md_process_len4 .md_process_step2 .md_process_sd {
    width: 183px
}

.md_process.md_process_len4 .md_process_step2 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step2 .md_process_i2 .md_process_tip, .md_process.md_process_len4 .md_process_step2_5 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step2_5 .md_process_i2 .md_process_tip {
    color: #f46
}

.md_process.md_process_len4 .md_process_i3 {
    left: 317px
}

.md_process.md_process_len4 .md_process_step3_5 .md_process_sd {
    width: 407px
}

.md_process.md_process_len4 .md_process_step3 .md_process_sd {
    width: 340px
}

.md_process.md_process_len4 .md_process_step3 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step3 .md_process_i2 .md_process_tip, .md_process.md_process_len4 .md_process_step3 .md_process_i3 .md_process_tip, .md_process.md_process_len4 .md_process_step3_5 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step3_5 .md_process_i2 .md_process_tip, .md_process.md_process_len4 .md_process_step3_5 .md_process_i3 .md_process_tip {
    color: #f46
}

.md_process.md_process_len4 .md_process_i4 {
    left: 474px
}

.md_process.md_process_len4 .md_process_step4 .md_process_sd, .md_process.md_process_len4 .md_process_step4_5 .md_process_sd {
    width: 497px
}

.md_process.md_process_len4 .md_process_step4 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step4 .md_process_i2 .md_process_tip, .md_process.md_process_len4 .md_process_step4 .md_process_i3 .md_process_tip, .md_process.md_process_len4 .md_process_step4 .md_process_i4 .md_process_tip, .md_process.md_process_len4 .md_process_step4_5 .md_process_i1 .md_process_tip, .md_process.md_process_len4 .md_process_step4_5 .md_process_i2 .md_process_tip, .md_process.md_process_len4 .md_process_step4_5 .md_process_i3 .md_process_tip, .md_process.md_process_len4 .md_process_step4_5 .md_process_i4 .md_process_tip {
    color: #f46
}

.md_process.md_process_len5 .md_process_wrap {
    width: 660px;
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdmntegbsdonzsgezdambqmmyde_157x32.png") 0 18px repeat-x
}

.md_process.md_process_len5 .md_process_sd {
    background: url("https://s10.mogucdn.com/pic/150514/10sz8d_iezdamtbgvstonzsgezdambqmmyde_157x26.png") 26px 0 repeat-x
}

.md_process.md_process_len5 .md_process_i1 {
    left: 3px
}

.md_process.md_process_len5 .md_process_step1_5 .md_process_sd {
    width: 93px
}

.md_process.md_process_len5 .md_process_step1 .md_process_sd {
    width: 26px
}

.md_process.md_process_len5 .md_process_step1 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step1_5 .md_process_i1 .md_process_tip {
    color: #f46
}

.md_process.md_process_len5 .md_process_i2 {
    left: 160px
}

.md_process.md_process_len5 .md_process_step2_5 .md_process_sd {
    width: 250px
}

.md_process.md_process_len5 .md_process_step2 .md_process_sd {
    width: 183px
}

.md_process.md_process_len5 .md_process_step2 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step2 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step2_5 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step2_5 .md_process_i2 .md_process_tip {
    color: #f46
}

.md_process.md_process_len5 .md_process_i3 {
    left: 317px
}

.md_process.md_process_len5 .md_process_step3_5 .md_process_sd {
    width: 407px
}

.md_process.md_process_len5 .md_process_step3 .md_process_sd {
    width: 340px
}

.md_process.md_process_len5 .md_process_step3 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step3 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step3 .md_process_i3 .md_process_tip, .md_process.md_process_len5 .md_process_step3_5 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step3_5 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step3_5 .md_process_i3 .md_process_tip {
    color: #f46
}

.md_process.md_process_len5 .md_process_i4 {
    left: 474px
}

.md_process.md_process_len5 .md_process_step4_5 .md_process_sd {
    width: 564px
}

.md_process.md_process_len5 .md_process_step4 .md_process_sd {
    width: 497px
}

.md_process.md_process_len5 .md_process_step4 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step4 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step4 .md_process_i3 .md_process_tip, .md_process.md_process_len5 .md_process_step4 .md_process_i4 .md_process_tip, .md_process.md_process_len5 .md_process_step4_5 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step4_5 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step4_5 .md_process_i3 .md_process_tip, .md_process.md_process_len5 .md_process_step4_5 .md_process_i4 .md_process_tip {
    color: #f46
}

.md_process.md_process_len5 .md_process_i5 {
    left: 631px
}

.md_process.md_process_len5 .md_process_step5 .md_process_sd, .md_process.md_process_len5 .md_process_step5_5 .md_process_sd {
    width: 654px
}

.md_process.md_process_len5 .md_process_step5 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step5 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step5 .md_process_i3 .md_process_tip, .md_process.md_process_len5 .md_process_step5 .md_process_i4 .md_process_tip, .md_process.md_process_len5 .md_process_step5 .md_process_i5 .md_process_tip, .md_process.md_process_len5 .md_process_step5_5 .md_process_i1 .md_process_tip, .md_process.md_process_len5 .md_process_step5_5 .md_process_i2 .md_process_tip, .md_process.md_process_len5 .md_process_step5_5 .md_process_i3 .md_process_tip, .md_process.md_process_len5 .md_process_step5_5 .md_process_i4 .md_process_tip, .md_process.md_process_len5 .md_process_step5_5 .md_process_i5 .md_process_tip {
    color: #f46
}

.icon-account {
    width: 24px;
    height: 24px;
    background-position: 0 0
}

.icon-active-account {
    width: 24px;
    height: 24px;
    background-position: -24px 0
}

.icon-active-deposit {
    width: 24px;
    height: 24px;
    background-position: 0 -24px
}

.icon-active-detail {
    width: 24px;
    height: 24px;
    background-position: -24px -24px
}

.icon-active-help {
    width: 24px;
    height: 24px;
    background-position: -48px 0
}

.icon-deposit {
    width: 24px;
    height: 24px;
    background-position: -48px -24px
}

.icon-detail {
    width: 24px;
    height: 24px;
    background-position: 0 -48px
}

.icon-help {
    width: 24px;
    height: 24px;
    background-position: -24px -48px
}

.icon_wallet_nav {
    background-size: 72px 72px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url("https://s10.mogucdn.com/mlcdn/c45406/170728_88g1d5cc531a6ackj4gchal3a0kc3_72x72.png")
}

@media only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx), only screen and (min-resolution: 192dpi) {
    .icon_wallet_nav {
        background-size: 72px 72px;
        background-image: url("https://s10.mogucdn.com/mlcdn/c45406/170728_2a7i2biab25d5gl1412e6ek4c7k1f_144x144.png")
    }
}

.icon-help {
    display: inline-block;
    width: 22px;
    height: 22px;
    background-repeat: no-repeat;
    background-image: url(https://s10.mogucdn.com/mlcdn/c45406/170523_45j91ij32jfa1af612cld8ad6j071_44x44.png);
    background-position: 50%;
    background-size: 80% 80%;
    vertical-align: -3px
}

body {
    background-color: #e7e8eb;
    font: 14px/1.5 Tahoma, Hiragino Sans GB, Microsoft yahei, serif;
    -webkit-font-smoothing: antialiased
}

#body:after, #body:before {
    content: "";
    display: table
}

#body:after {
    clear: both
}

#body {
    zoom: 1
}

#info_bar {
    zoom: 1;
    height: 67px;
    _height: 65px;
    background-position: right -65px
}

#navigation {
    height: 34px;
    line-height: 34px;
    _overflow: hidden
}

.back_to_home {
    background: url(https://s10.mogucdn.com/pic/150508/10sz8d_ieztcmrqgu3toobqgezdambqgyyde_14x14.png) 0 no-repeat;
    display: inline-block;
    vertical-align: top;
    padding-left: 20px
}

.back_to_home, .h_set {
    height: 30px;
    line-height: 30px
}

.h_set a {
    margin: 0 6px 0 30px
}

.logo {
    float: left;
    width: 130px;
    height: 34px;
    margin: 20px 20px 0 0;
    overflow: hidden;
    text-indent: -999em;
    background: url(https://s10.mogucdn.com/p1/150604/upload_iezdiobqme3wemzzgezdambqmmyde_130x34.png) no-repeat
}

.l_banner {
    display: inline-block;
    _display: inline;
    margin-top: 20px
}

.s_line {
    display: block;
    height: 30px;
    border-left: 1px solid #222;
    border-right: 1px solid #4e4e4e
}

.combo_img {
    background: #fff;
    background-repeat: no-repeat
}

#body_wrap {
    padding: 20px 0 0
}

.header .header_top {
    float: right
}

.header .header_top li {
    display: inline;
    position: relative;
    line-height: 76px;
    z-index: 100;
    float: left;
    margin: 0 0 0 30px
}

.header .header_top li a {
    height: 74px;
    line-height: 74px;
    display: block;
    font-size: 16px;
    *width: 76px;
    _width: 76px;
    font-weight: 700;
    padding: 0 5px;
    overflow: hidden;
    border-bottom: 2px solid #fff;
    color: #333
}

.header .header_top li.active, .header .header_top li a:hover {
    color: #f55
}

.header .header_top li.active a {
    color: #f55;
    border-bottom: 2px solid #f55;
    background: url(https://s10.mogucdn.com/pic/150508/10sz8d_iezgeztfmvsdqobqgezdambqmmyde_8x4.png) bottom no-repeat
}

.header .header_top .s1:hover .ext_mode, .header .header_top .s1_on .ext_mode {
    display: block
}

.header .header_top .has_line a {
    padding-left: 21px;
    background: #fff;
    background-repeat: no-repeat;
    background-position: -99px -253px;
    *background-position: -99px -255px
}

.header .header_top .custom_item {
    margin-right: 0
}

.header .header_top .has_icon {
    padding-right: 10px;
    background: #fff;
    background-repeat: no-repeat
}

.header .header_top .has_icon_delta {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 6px;
    right: 0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 0 0
}

.header .header_top .user_meta {
    background-image: none
}

.header .header_top .user_meta .icon_delta {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 6px;
    right: 0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 0 0
}

.header .header_top .custom_item {
    background-position: 72px 6px
}

.header .header_top .more_login {
    background-position: 27px 6px
}

.header .header_top .message_center {
    background-image: none
}

.header .header_top .message_center .icon_delta {
    position: absolute;
    width: 7px;
    height: 5px;
    top: 6px;
    right: 0;
    background: #fff;
    background-repeat: no-repeat;
    background-position: 0 0
}

.header .header_top .message_center .m_num {
    color: #fff
}

.header .header_top .ext_mode {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 90px;
    background: #fff;
    border-radius: 4px;
    padding: 5px 0;
    box-shadow: 0 2px 2px #e5e5e5
}

.header .header_top .login_ext {
    width: 120px
}

.header .header_top .login_ext a {
    padding: 0 10px
}

.header .header_top .s2 {
    margin-bottom: 2px
}

.header .header_top .s2 a {
    float: none;
    display: block;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    color: #444
}

.header .header_top .s2 .on, .header .header_top .s2 a:hover {
    background: #f2f2f2
}

#header {
    min-width: 960px;
    background: #fff
}

#header .back_to_mogujie {
    color: #fff
}

#header #show_more_login a {
    color: #666
}

.g-footer {
    padding: 60px 0;
    text-align: center
}

.g-footer, .g-footer a {
    color: #999
}

.g-footer a:hover {
    text-decoration: underline
}

.g-footer .icons {
    padding-top: 16px;
    height: 28px;
    text-align: center
}

.g-footer .icons .kx, .g-footer .icons .mc, .g-footer .icons .pa, .g-footer .icons .pc, .g-footer .icons .up, .g-footer .icons .vs {
    display: inline-block;
    height: 28px;
    vertical-align: top
}

.g-footer .icons .vs {
    width: 80px;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") 0 -50px no-repeat;
    cursor: default
}

.g-footer .icons .mc {
    width: 74px;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") -90px -50px no-repeat;
    cursor: default
}

.g-footer .icons .up {
    width: 50px;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") -178px -50px no-repeat;
    cursor: default
}

.g-footer .icons .pa {
    width: 164px;
    vertical-align: top;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") -240px -50px no-repeat
}

.g-footer .icons .kx {
    width: 84px;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") -400px -50px no-repeat
}

.g-footer .icons .pc {
    width: 50px;
    background: url("https://s10.mogucdn.com/p1/150618/upload_ieywemjqmrrdkzdegezdambqmeyde_675x240.png") -486px -50px no-repeat
}

.vp_cnt, .vp_t {
    margin: 0;
    padding: 0;
    color: #666
}

.vp_wrap {
    display: none;
    position: fixed;
    background: #fff;
    z-index: 9999;
    left: 50%;
    top: 50%;
    width: auto;
    *width: 420px;
    min-width: 400px;
    max-width: 640px;
    border-radius: 1px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .1)
}

.vp_wrap a, .vp_wrap a:hover {
    text-decoration: none
}

.vp_t {
    height: 45px;
    padding: 0 20px;
    font: 400 16px/45px Tahoma, Hiragino Sans GB, Microsoft yahei, serif;
    background: #f2f2f2
}

.v_pop_box {
    text-align: center
}

.vp_inner {
    padding: 40px
}

.vp_cnt {
    text-align: center;
    padding: 0 0 40px;
    word-break: break-all;
    font: 400 14px/1.5 Tahoma, Hiragino Sans GB, Microsoft yahei, serif
}

.vp_cls {
    position: absolute;
    display: block;
    top: 13px;
    right: 13px;
    width: 20px;
    height: 19px;
    text-indent: -9999px;
    background: url(https://s10.mogucdn.com/p1/150824/upload_ie2ggzjxhbtdcnjtgmzdambqgiyde_20x19.png) 0 0 no-repeat;
    -webkit-transition: all .3s;
    transition: all .3s
}

.vp_cls:hover {
    opacity: .8;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

.vp_btn {
    display: inline-block;
    padding: 0 30px;
    margin: 0 5px;
    height: 26px;
    border-radius: 2px;
    background: #fff;
    font-size: 14px;
    color: #333;
    text-decoration: none;
    font: 400 12px/26px helvetica, tahoma, arial, sans-serif;
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s
}

.vp_btn, .vp_btn:hover {
    border: 1px solid #c4c4c4
}

.vp_btn:hover {
    box-shadow: 0 1px 1px #e5e5e5;
    background-color: #f5f5f5
}

.vp_btn_red {
    color: #fff;
    border: 1px solid #f46;
    background-color: #f46
}

.vp_btn_red:hover {
    color: #fff;
    border: 1px solid #ff1d46;
    background-color: #ff1d46
}

.vp_shake {
    -webkit-animation: pop_shake .5s ease
}

@-webkit-keyframes pop_shake {
    0% {
        -webkit-transform: translateX(0)
    }
    20% {
        -webkit-transform: translateX(-30px)
    }
    40% {
        -webkit-transform: translateX(15px)
    }
    60% {
        -webkit-transform: translateX(-7px)
    }
    80% {
        -webkit-transform: translateX(3px)
    }
    to {
        -webkit-transform: translateX(0)
    }
}

.m-error .messagebox {
    border: 1px solid #d8d8d8;
    background-color: #fff;
    position: relative;
    zoom: 1
}

.m-error .messagebox .info {
    padding: 150px 180px
}

.m-error .messagebox .error p {
    font-size: 14px;
    padding: 40px 65px;
    background: url(https://s10.mogujie.cn/pic/130711/7ycvj_kqywmrcznjbg2vtwgfjeg5sckzsew_51x71.png) no-repeat
}

#body_wrap {
    padding: 30px 0 0
}

.pad-20 {
    padding: 20px
}

.pad-30 {
    padding: 30px
}

.mr-30 {
    margin-right: 30px
}

.wallet-title {
    margin-bottom: 20px;
    color: #454545;
    font-size: 16px;
    line-height: 16px
}

.border-hr {
    height: 0;
    padding: 0;
    margin: 20px 0;
    border: none;
    border-bottom: 1px solid #f3f3f3
}

.wallet-btn {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 120px;
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    zoom: 1;
    padding: 7px 20px;
    background: #fff;
    text-align: center;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    color: #333
}

.wallet-btn:active, .wallet-btn:hover {
    background-color: #f5f5f5;
    border-color: #c4c4c4
}

.wallet-btn.border-orange {
    background-color: #fff;
    border-color: #f55;
    color: #f55
}

.wallet-btn.border-orange:active, .wallet-btn.border-orange:hover {
    background-color: #fff;
    border-color: #e53131;
    color: #e53131
}

.wallet-btn.orange {
    background-color: #f55;
    border-color: #f55;
    color: #fff
}

.wallet-btn.orange:active, .wallet-btn.orange:hover {
    background-color: #e53131;
    border-color: #e53131
}

.wallet-btn.sm {
    min-width: 60px;
    padding: 6px 20px;
    font-size: 12px;
    line-height: 12px
}

.wallet-btn.disabled {
    background-color: #ddd !important;
    border-color: #ddd !important;
    color: #fff !important;
    cursor: not-allowed
}

.wallet-link {
    color: #2ad;
    cursor: pointer
}

.wallet-orange {
    color: #f55
}

.wallet-form {
    width: 480px;
    margin: 0 auto
}

#walletLightBox .wallet-form, .wallet-form.wallet-form-sm {
    width: 600px
}

.wallet-form-title {
    margin: 0 0 25px 205px;
    font-size: 14px
}

.wallet-form-alert {
    display: inline-block;
    margin-bottom: 20px;
    padding: 8px 24px;
    background: #ffffc6;
    border: 1px solid #ffe76e;
    color: #878787
}

.wallet-form-control-long {
    position: relative;
    width: 560px
}

.wallet-form-control {
    margin-bottom: 20px;
    line-height: 30px
}

.wallet-form-control .wallet-form-label {
    display: inline-block;
    width: 146px;
    font-size: 14px;
    text-align: right
}

.wallet-form-control .wallet-form-label.block {
    display: block;
    margin-bottom: 20px;
    text-align: left
}

.wallet-form-control .wallet-form-input, .wallet-form-control .wallet-form-text {
    width: 300px;
    height: 18px;
    padding: 6px 0;
    background-color: #fff;
    color: #070707;
    font-size: 14px;
    line-height: 18px
}

.wallet-form-control .wallet-form-input {
    padding-left: 8px;
    border: 1px solid #ccc;
    -moz-box-sizing: content-box;
    box-sizing: content-box
}

.wallet-form-control .wallet-form-input:focus, .wallet-form-control .wallet-form-input:hover {
    border-color: #36addd
}

.wallet-form-control .wallet-form-input.code {
    width: 52px
}

.wallet-form-control .wallet-form-input.lg {
    width: 218px;
    padding: 10px 0 10px 8px
}

.wallet-form-control .wallet-form-input.mg {
    width: 310px
}

.wallet-form-control .wallet-form-input.xl {
    width: 380px;
    padding: 10px 0 10px 8px
}

.wallet-form-control .wallet-form-input.J_plugin_input {
    width: 310px;
    height: 32px;
    padding: 0;
    margin-bottom: -10px
}

.wallet-form-control .wallet-form-input.error, .wallet-form-control .wallet-form-input.error:focus, .wallet-form-control .wallet-form-input.error:hover {
    border-color: #f55
}

.wallet-form-control input.wallet-form-input.lg, .wallet-form-control input.wallet-form-input.xl {
    font-size: 16px
}

.wallet-form-control select.wallet-form-input {
    width: 70px;
    white-space: nowrap;
    height: 24px;
    padding: 0 0 0 8px;
    line-height: 24px
}

.wallet-form-control select.wallet-form-input.lg {
    width: 90px
}

.wallet-form-control select.wallet-form-input:focus, .wallet-form-control select.wallet-form-input:hover {
    border-color: #ccc
}

.wallet-form-control .wallet-form-text {
    display: inline-block;
    *display: inline;
    *vertical-align: middle;
    zoom: 1;
    padding-right: 8px;
    font-size: 14px
}

.wallet-form-control .wallet-form-text sup {
    color: #f55
}

.wallet-form-control .wallet-form-text sub {
    margin-left: 5px;
    font-size: 12px;
    color: #a5a5a5
}

.wallet-form-control .wallet-form-text.auto {
    width: auto
}

.wallet-form-control .wallet-form-text.uninstall_inputplugin {
    border: 1px solid #ccc;
    font-size: 14px
}

.wallet-form-control .wallet-form-banklist {
    display: inline-block;
    vertical-align: top
}

.wallet-form-control .wallet-form-notice {
    margin: 0 0 -10px 145px;
    padding-left: 4px;
    color: #999;
    line-height: 20px
}

.wallet-form-control .wallet-form-notice.no-margin {
    margin-left: 0
}

.wallet-form-control .wallet-form-tip {
    margin-left: 10px;
    color: #c3c3c3
}

.wallet-form-control .wallet-form-help {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url(https://s10.mogucdn.com/img/fpay/ubzlo_ieygeyzvgeyginbtmiytambqgyyde_324x320.png) 0 -56px no-repeat;
    vertical-align: middle;
    cursor: pointer
}

.wallet-form-control .wallet-form-help .deadline {
    display: none;
    position: absolute;
    width: 200px;
    height: 76px;
    left: 24px;
    top: -32px;
    background: url(https://s10.mogucdn.com/img/fpay/ubzlo_ieygeyzvgeyginbtmiytambqgyyde_324x320.png) 0 -224px no-repeat
}

.wallet-form-control .wallet-form-help .code {
    display: none;
    position: absolute;
    width: 190px;
    height: 70px;
    left: 24px;
    top: -20px;
    background: url(https://s10.mogucdn.com/img/fpay/ubzlo_ieygeyzvgeyginbtmiytambqgyyde_324x320.png) 0 -135px no-repeat
}

.wallet-form-control .wallet-form-help:hover .code, .wallet-form-control .wallet-form-help:hover .deadline {
    display: block
}

.wallet-form-control .wallet-form-bank {
    width: 104px;
    height: 32px;
    margin-left: 10px;
    vertical-align: bottom
}

.wallet-form-control .wallet-form-notice.hidden, .wallet-form-control .wallet-form-tip.hidden {
    display: none
}

.wallet-form-control .wallet-form-notice.success, .wallet-form-control .wallet-form-tip.success {
    padding-left: 14px;
    background: url(https://s10.mogujie.com/pic/140915/1blhwf_ieyggztbmy4tszjummytambqgyyde_48x373.png) no-repeat;
    _background: url(https://s10.mogujie.com/pic/140915/1blhwf_ieyginjumy4tszjummytambqhayde_48x373.png) no-repeat;
    background-position: -10px -123px;
    color: #579f30
}

.wallet-form-control .wallet-form-notice.error, .wallet-form-control .wallet-form-tip.error {
    color: #f55
}

.wallet-form-control .wallet-form-link {
    margin-left: 10px;
    color: #2290e5
}

.wallet-form-control .wallet-form-btn {
    height: 32px;
    margin-left: 15px;
    padding: 0 14px;
    background: #e8e8e8;
    border: 0 none;
    border-radius: 2px;
    outline: none;
    font-size: 14px;
    color: #666;
    cursor: pointer
}

.wallet-form-control .disabled {
    color: #999;
    cursor: not-allowed
}

.wallet-form-control.vertical .wallet-form-label {
    margin-left: 148px;
    width: auto;
    text-align: left
}

.wallet-form-control.vertical .wallet-form-input {
    margin-left: 148px
}

.wallet-form-action {
    padding-left: 149px
}

.wallet-form-action .wallet-btn {
    margin-right: 20px
}

.wallet-panel {
    border: 1px solid #ddd;
    background: #fff;
    margin: 0 auto 20px
}

.wallet-panel .wallet-panel-header {
    background: #fafafa;
    border-bottom: 1px solid #e7e7e7;
    font-size: 16px;
    color: #666;
    position: relative;
    line-height: 30px;
    padding: 10px 28px
}

.wallet-panel .wallet-panel-header.tabs {
    padding: 0
}

.wallet-panel .wallet-panel-header .tabs-group {
    font-size: 0
}

.wallet-panel .wallet-panel-header .tabs-group .tab-item {
    display: inline-block;
    padding: 10px 28px;
    font-size: 16px;
    cursor: pointer
}

.wallet-panel .wallet-panel-header .tabs-group .tab-item.active {
    position: relative;
    bottom: -1px;
    background-color: #fff;
    border-right: 1px solid #e7e7e7
}

.wallet-panel .wallet-panel-header .tabs-group .tab-item:first-child {
    border-right: 1px solid #e7e7e7
}

.wallet-panel .wallet-panel-header sub {
    margin-left: 10px;
    font-size: 12px;
    color: #999;
    font-weight: 400
}

.wallet-panel .wallet-panel-header .wallet-head-tab {
    position: absolute;
    bottom: -1px;
    right: 20px
}

.wallet-panel .wallet-panel-header .wallet-head-tab .tab-li, .wallet-panel .wallet-panel-header .wallet-head-tab li {
    float: left;
    padding: 4px 10px;
    color: #44c3dd;
    border-radius: 2px 2px 0 0
}

.wallet-panel .wallet-panel-header .wallet-head-tab .tab-li a, .wallet-panel .wallet-panel-header .wallet-head-tab li a {
    color: #44c3dd;
    display: block
}

.wallet-panel .wallet-panel-header .wallet-head-tab .tab-li.active, .wallet-panel .wallet-panel-header .wallet-head-tab li.active {
    background: #fff;
    border: 1px solid #e7e7e7;
    color: #333;
    border-bottom: #fff
}

.wallet-panel .wallet-panel-header .wallet-head-tab .tab-li.active a, .wallet-panel .wallet-panel-header .wallet-head-tab li.active a {
    color: #333
}

.wallet-tab {
    display: none
}

.wallet-tab.active {
    display: block
}

.wallet-icon {
    background: url(https://s10.mogucdn.com/pic/150511/10sz8d_iezdqntdhfrdiobrgezdambqmmyde_30x180.png) no-repeat
}

.wallet-icon.mail, .wallet-icon.mobile, .wallet-icon.person {
    padding-left: 26px
}

.wallet-icon.mobile {
    background-position: -2px -2px
}

.wallet-icon.mail {
    background-position: -3px -32px
}

.wallet-icon.person {
    background-position: -2px -63px
}

.wallet-icon.success, .wallet-icon.warn {
    padding-left: 40px
}

.wallet-icon.success {
    background-position: -3px -225px
}

.wallet-icon.warn {
    background-position: -3px -166px
}

.wallet-icon.info {
    background-position: -3px -346px
}

.wallet-icon.sandglass {
    padding-left: 45px;
    background-position: 0 -279px
}

#walletLightBox .lb_wrap {
    background: #fff;
    border-radius: 0
}

#walletLightBox .lb_hd {
    height: 64px;
    padding-left: 30px;
    background: #fff;
    border: none;
    line-height: 64px
}

#walletLightBox .lb_hd .lb_title {
    margin: 0;
    font-size: 16px;
    font-weight: 700
}

#walletLightBox .lb_hd .lb_title sub {
    margin-left: 5px;
    font-size: 12px;
    color: #999;
    font-weight: 400
}

#walletLightBox .lb_bd {
    position: relative;
    padding: 0 30px 30px;
    background: #fff
}

#walletLightBox .lb_bd .content.content-lg {
    padding: 0 60px
}

#walletLightBox .lb_bd .action {
    text-align: center
}

#walletLightBox .lb_bd .action.action-tl {
    text-align: left
}

#walletLightBox .lb_bd .action span {
    margin-left: 10px
}

#walletLightBox label, #walletLightBox p {
    font-size: 16px;
    color: #666
}

#walletLightBox p {
    max-width: 385px;
    margin-bottom: 30px
}

#walletLightBox .lb_close {
    position: absolute;
    display: block;
    width: 23px;
    height: 23px;
    top: 20px;
    right: 22px;
    background: url(https://s10.mogujie.com/pic/140825/wwwww_ieydeoddguygkm3fmiytambqmeyde_23x23.png);
    font-size: 0
}

.wallet-trade-table {
    margin-top: 25px;
    width: 100%;
    border: 1px solid #e7e7e7;
    border-width: 1px 0 0 1px
}

.wallet-trade-table td, .wallet-trade-table th {
    padding: 15px;
    text-align: left;
    border: 1px solid #e7e7e7;
    border-width: 0 1px 1px 0
}

.wallet-trade-table td > p {
    white-space: nowrap;
    width: 100%;
    max-width: 340px;
    _width: 340px;
    overflow: hidden;
    text-overflow: ellipsis
}

.media_screen_960 .wallet-trade-table td > p {
    max-width: 258px;
    _width: 258px
}

.wallet-trade-table td > p.sub {
    color: #999
}

.wallet-trade-table thead th {
    background: #f4f5fa;
    color: #666
}

.wallet-trade-table .t-green {
    color: #76b945
}

select.wallet-form-input {
    -webkit-appearance: none;
    width: 100px;
    line-height: 24px;
    border: 1px solid #ccc;
    background: #fff url(https://s10.mogucdn.com/p1/150528/10sz8d_iezwinjvmrtggzrwgezdambqgyyde_29x28.png) 100% no-repeat;
    padding: 2px 8px !important;
    border-radius: 0;
    outline: 0
}

.wallet-switch {
    position: relative;
    width: 50px;
    height: 23px;
    border-radius: 30px;
    background-color: #fafafa;
    line-height: 23px;
    border: 1px solid #ddd;
    border-color: rgba(0, 0, 0, .1);
    display: inline-block;
    text-indent: 28px;
    color: #ddd;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    vertical-align: middle
}

.wallet-switch:after {
    content: "";
    left: -1px;
    position: absolute;
    background-color: #fff;
    width: 23px;
    height: 23px;
    top: -1px;
    border-radius: 23px;
    border: 1px solid #ddd;
    -webkit-transition: left .2s;
    transition: left .2s
}

.wallet-switch.checked {
    background: #9acc55;
    text-indent: 6px;
    color: #fff
}

.wallet-switch.checked:after {
    left: 26px
}

.wrap_center {
    margin: 0 auto;
    float: none
}

.m-banklist .b {
    position: relative;
    float: left;
    width: 180px;
    height: 45px;
    padding: 0 32px 20px 1px;
    cursor: pointer;
    *zoom: 1
}

.m-banklist .b input {
    float: left;
    width: 13px;
    height: 13px;
    margin-top: 15px;
    margin-right: 9px
}

.m-banklist .b label {
    float: left;
    height: 40px;
    width: 150px;
    padding: 1px;
    background: #fff;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    text-align: center;
    _display: inline
}

.m-banklist .b label img {
    width: 130px;
    height: 40px;
    vertical-align: middle
}

.m-banklist .b label .wh {
    font-size: 12px;
    color: #999;
    vertical-align: middle
}

.m-banklist .b label .ctype {
    display: none
}

.m-banklist .b.b_cur label {
    border: 2px solid #bbb;
    padding: 0
}

.m-banklist .b.b_sizer {
    width: 220px
}

.m-banklist .b.b_sizer label {
    width: 190px
}

.m-banklist .more_b {
    position: relative;
    float: left;
    width: 213px;
    height: 45px;
    padding-bottom: 20px
}

.m-banklist .more_b .more {
    float: left;
    height: 40px;
    width: 114px;
    padding: 1px;
    padding-left: 37px;
    margin-left: 23px;
    background: #fff;
    font-size: 14px;
    color: #666;
    line-height: 40px;
    border: 1px solid #e7e7e7;
    cursor: pointer;
    _display: inline
}

.m-banklist .more_b .more:hover {
    text-decoration: underline
}

.m-banklist .more_b.more_b_hide {
    display: none
}

.m-banklist-line .b {
    width: auto;
    float: none;
    padding: 2px;
    margin-bottom: 12px;
    height: 50px;
    *zoom: 1
}

.m-banklist-line .b input {
    position: absolute;
    left: 16px;
    top: 50%;
    margin-right: 0;
    margin-top: -7px;
    z-index: 1
}

.m-banklist-line .b label {
    position: relative;
    display: block;
    width: 300px;
    height: 45px;
    padding: 0;
    border: 1px solid #ccc;
    text-align: left;
    *zoom: 1
}

.m-banklist-line .b label img {
    float: left;
    _display: inline;
    padding-left: 5px;
    padding-top: 3px
}

.m-banklist-line .b label .wh {
    float: left;
    _display: inline;
    height: 50px;
    line-height: 50px
}

.m-banklist-line .b label .ctype {
    display: block;
    position: absolute;
    top: 50%;
    right: 12px;
    margin-top: -25px;
    height: 50px;
    line-height: 50px;
    *zoom: 1
}

.m-banklist-line .b.active label {
    border: 1px solid #f55;
    background: url(https://s10.mogucdn.com/p1/150524/10sz8d_iezdkmzvme4giyrvgezdambqmmyde_23x20.png) 100% 100% no-repeat
}

.m-banklist-line .b.b_cur label {
    border: 2px solid #bbb;
    width: 298px;
    height: 43px
}

.m-banklist-line .b.b_cur label img {
    padding-top: 2px;
    padding-left: 4px
}

.m-banklist-line .b.b_cur label .wh {
    height: 48px;
    line-height: 48px
}

.m-banklist-line .b.b_cur label .ctype {
    right: 11px
}

.m-banklist-line .more_b .more {
    margin-left: 0
}

.safe-box {
    height: 60px;
    padding-left: 70px;
    background: url(https://s10.mogucdn.com/pic/150512/10sz8d_iezdsodgg42tizjrgezdambqmmyde_67x180.png) 0 0 no-repeat
}

.safe-box.safe-3 {
    background-position: 0 0
}

.safe-box.safe-2 {
    background-position: 0 -60px
}

.safe-box.safe-1 {
    background-position: 0 -120px
}

.safe-box h4 {
    font-size: 18px;
    line-height: 34px;
    font-weight: 700
}

.safe-box p {
    line-height: 26px;
    font-size: 12px
}

.wallet-account-box {
    padding: 0 0 0 140px;
    height: 120px
}

.wallet-account-box .wallet-link {
    margin-left: 30px
}

.wallet-account-box h4 {
    line-height: 28px;
    font-size: 16px
}

.wallet-account-box p {
    line-height: 24px
}

.account-icon {
    background: url(https://s10.mogucdn.com/pic/150513/10sz8d_ie2tgmrugrrdmmzsgezdambqhayde_120x480.png) 0 0 no-repeat
}

.account-icon.edit {
    background-position: 0 0
}

.account-icon.safe {
    background-position: 0 -120px
}

.account-icon.name {
    background-position: 0 -240px
}

.account-icon.qua {
    background-position: 0 0
}