<volist name="about" id="vo" mod="2" key="k" >
        <if condition="$k elt 2">
            <li class="item clearfix" data-node="item">
            <div class="item-inner">
                <div class="title-box">
                    <a ga_event="click_title_relevant" class="link title" href="{:U($url.$vo['id'])}" data-node="title">
                        {$vo.title}
                    </a>
                </div>
                <div class="abstract">
                    <a ga_event="click_abstract_relevant" class="link" href="">
                        {$vo.description|msubstr=0,150}
                    </a>
                </div>
                <div class="news_foot  clearfix">
                    <div class="left lnews_foot ">
                        <a class="lbtn source" href="">
                            {$vo.source|msubstr=0,20}&nbsp;&sdot;
                        </a>
                        <span class="lbtn comment">
                                                 {$vo.comment|count}评论&nbsp;&sdot;
                                            </span>
                        <span class="lbtn time" data-publishtime="五月 26, 2016, 7:46 a.m.">
                                                {$vo.time|date='Y-m-d',###}
                                            </span>
                    </div>
                </div>
            </div>
        </li>
        <else/>
            <li class="item clearfix" data-node="item">
            <div class="item-inner">
                <div class="lbox left">
                    <a ga_event="click_img_relevant" href="{:U($url.$vo['id'])}">
                        <img class="feedimg middle-mode" src="{:substr($vo['desc_image'],0,strpos($vo['desc_image'],'|'))?substr($vo['desc_image'],0,strpos($vo['desc_image'],'|')):'__PUBLIC__/images/default.png'}"
                             alt="{$vo.title}" onload="this.style.opacity=1;">
                    </a>
                </div>
                <div class="rbox">
                    <!--hold-->
                    <div class="rbox-inner">
                        <div class="title-box">
                            <a ga_event="click_title_relevant" class="link title" href="{:U($url.$vo['id'])}" data-node="title">
                                {$vo.title}
                            </a>
                        </div>
                        <div class="abstract">
                            <a ga_event="click_abstract_relevant" class="link" href="{:U($url.$vo['id'])}">
                                {$vo.description|msubstr=0,150}
                            </a>
                        </div>
                        <div class="news_foot  clearfix">
                            <div class="left lnews_foot ">
                                <a class="lbtn source" href="">
                                    {$vo.source|msubstr=0,20}&nbsp;&sdot;
                                </a>
                                <span class="lbtn comment">
                                                        {$vo.comment|count}评论&nbsp;&sdot;
                                                    </span>
                                <span class="lbtn time" data-publishtime="   {$vo.time|date='Y-m-d',###}">
                                                      {$vo.time|date='Y-m-d',###}
                                                    </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        </if>
</volist>


