<li>
    <p class="b">
        <a href="{:U('News/index')}" target="_blank">{$vo.title}</a>
        <a href="{:U('News/hsms')}" target="_blank">黄石民生</a>
    </p>
    <p class="b">
        <a href="{:U('News/hbxw')}" target="_blank">湖北新闻</a>
        <a href="#" target="_blank">国内国际</a>
    </p>
    <p class="b">
        <a href="#" target="_blank">文娱体育</a>
        <a href="#" target="_blank">东楚论坛 </a>
    </p>
</li>
<li class="bd"></li>


<li>
    <p class="b2">
        <a href="#" target="_blank">视频</a>
        <a href="#" target="_blank">读图</a></p>
    <p class="b2">
        <a href="#" target="_blank">专题</a>
        <a href="#" target="_blank">微博</a></p>
    <p class="b2">
        <a href="#" target="_blank">时评</a>
        <a href="#" target="_blank">人才</a></p>
</li>
<li class="bd"></li>


<li>
    <p class="b2">
        <a href="#" target="_blank">汽车</a>
        <a href="#" target="_blank">房产</a></p>
    <p class="b2">
        <a href="#" target="_blank">消费</a>
        <a href="#" target="_blank">旅游</a></p>
    <p class="b2">
        <a href="#" target="_blank">摄影</a>
        <a href="#" target="_blank">医讯</a></p>
    <p class="b2">
        <a href="#" target="_blank">健康</a>
        <a href="#" target="_blank">财经</a></p>
</li>
<li class="bd"></li>

<li>
    <p class="b">
        <a href="#" target="_blank">天天信息</a>
        <a href="#" target="_blank">在线商城</a></p>
    <p class="b">
        <a href="#" target="_blank">投资环境</a>
        <a href="#" target="_blank">广告业务</a></p>
</li>